/* main color: #456fe8 */
/* light blue: #7e9cda */
/* dark grey: #7b7b7b */
/* light grey: #acaeab */
:root {
  --bg-color: #1d1135; /* خلفية الصفحة */
  --card-bg: #2b124c; /* خلفية البطاقة (form) */
  --input-bg: #ffffff; /* خلفية الحقول */
  --input-text: #000000; /* لون النص داخل الحقول */
  --button-bg: #7b2cbf; /* زر "Sign up" */
  --button-text: #ffffff; /* نص الزر */
  --link-color: #dcd1f7; /* لون رابط "Login" */
  --heading-color: #ffffff; /* لون العنوان "Sign up" */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: var(--bg-color);
}
